nav li {
	display: inline-block;
}

nav a {
	display: inline-block;

	color: purple;
	background-color: lightblue;
	text-decoration: none;
	font-variant: small-caps;

	padding: 20px;
	margin: 10px;
	border: solid 2px purple;
}

nav a:hover {
	background-color: lightgreen;
}
